<header class="header">
  <div class="header-container">
    <div class="social-links">
      <a href="#" target="_blank" class="social-link">
        <img src="../../assets/header/Github white.svg" alt="GitHub" class="icon-default">
        <img src="../../assets/header/Github hover.svg" alt="GitHub" class="icon-hover">
      </a>
      <a href="#" target="_blank" class="social-link">
        <img src="../../assets/header/LinkedIn white.svg" alt="LinkedIn" class="icon-default">
        <img src="../../assets/header/LinkedIn hover.svg" alt="LinkedIn" class="icon-hover">
      </a>
      <a href="#" target="_blank" class="social-link">
        <img src="../../assets/header/Email White.svg" alt="Email" class="icon-default">
        <img src="../../assets/header/Mail hover.svg" alt="Email" class="icon-hover">
      </a>
    </div>

    <div class="logo">
      <div class="logo-icon">
        <svg width="45" height="47" viewBox="0 0 45 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.5 2C11.1782 2 2 11.1782 2 22.5C2 33.8218 11.1782 43 22.5 43C33.8218 43 43 33.8218 43 22.5" stroke="#FF834F" stroke-width="4" stroke-linecap="round"/>
          <path d="M10 22.5C10 15.5964 15.5964 10 22.5 10C29.4036 10 35 15.5964 35 22.5" stroke="#FF834F" stroke-width="4" stroke-linecap="round"/>
        </svg>
      </div>
      <span class="logo-text">Leyh</span>
    </div>

    <div class="right-section">
      <div class="lang-switcher">
        <img src="../../assets/header/EN white.svg" alt="EN" class="icon-default">
        <img src="../../assets/header/EN Black hover.svg" alt="EN" class="icon-hover">
      </div>
      <div class="mobile-menu">
        <img src="../../assets/header/White Burger.svg" alt="Menu" class="icon-default">
        <img src="../../assets/header/Burger hover.svg" alt="Menu" class="icon-hover">
      </div>
    </div>
  </div>
</header>
