<section class="about-me" id="about">
  <div class="about-container">
    <h2 class="about-heading">{{ 'about.title' | translate }}</h2>

    <div class="about-content">
      <div class="about-image-container">
        <img src="../../assets/aboutMe/Second Photo.png" alt="About Max" class="about-photo">
      </div>

      <div class="about-text-box">
        
        <div class="about-description">
          <p>
            {{ 'about.description' | translate }}
          </p>
          <p>
            {{ 'about.connect' | translate }}
          </p>
        </div>

        <div class="about-actions">
          <a href="#contact" class="talk-button">{{ 'about.talk' | translate }}</a>
          <div class="emoji-wrapper">
            <img src="../../assets/aboutMe/sshEmoji.svg" alt="" class="about-emoji">
            <div class="info-overlay">
              <h3 class="overlay-title">{{ 'about.overlayTitle' | translate }}</h3>
              <ul class="overlay-list">
                <li class="overlay-item">
                  <img src="../../assets/aboutMe/overlay/checkCircle.svg" alt="">
                  <span>{{ 'about.teamplayer' | translate }}</span>
                </li>
                <li class="overlay-item">
                  <img src="../../assets/aboutMe/overlay/checkCircle.svg" alt="">
                  <span>{{ 'about.learner' | translate }}</span>
                </li>
                <li class="overlay-item">
                  <img src="../../assets/aboutMe/overlay/checkCircle.svg" alt="">
                  <span>{{ 'about.creative' | translate }}</span>
                </li>
                <li class="overlay-item">
                  <img src="../../assets/aboutMe/overlay/checkCircle.svg" alt="">
                  <span>{{ 'about.based' | translate }}</span>
                </li>
                <li class="overlay-item">
                  <img src="../../assets/aboutMe/overlay/checkCircle.svg" alt="">
                  <span>{{ 'about.remote' | translate }}</span>
                </li>
                <li class="overlay-item">
                  <img src="../../assets/aboutMe/overlay/checkCircle.svg" alt="">
                  <span>{{ 'about.relocate' | translate }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
