<section class="about-me" id="about">
  <div class="about-container">
    <h2 class="about-heading">About Me</h2>

    <div class="about-content">
      <div class="about-image-container">
        <img src="../../assets/aboutMe/Second Photo.png" alt="About Max" class="about-photo">
      </div>

      <div class="about-text-box">
        <div class="section-title">
        </div>
        
        <div class="about-description">
          <p>
            Hey there, I'm Hanna. Write some information about yourself that is IT related. Why are you passionate about coding? 
            What is your source of inspiration for improving your programming skills?  
            Do you learn from each challenge as you search for the most efficient or elegant solution?
          </p>
          <p>
            Let's connect and create something amazing together!
          </p>
        </div>

        <div class="about-actions">
          <a href="#contact" class="talk-button">Let's talk</a>
          <img src="../../assets/aboutMe/sshEmoji.svg" alt="" class="about-emoji">
        </div>
      </div>
    </div>

    <!-- Vertical Scroll Indicator -->
    <div class="scroll-indicator">
      <img src="../../assets/aboutMe/scrollIndicator2.svg" alt="Scroll">
    </div>
  </div>
</section>
