.legal-notice {
  min-height: 100vh;
  background-color: #1D1D1D;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;

  .legal-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 100px;
    flex: 1;

    .legal-title {
      font-size: 80px;
      font-weight: 700;
      font-family: 'Eczar', serif !important;
      color: #F8F7E5;
      margin-bottom: 60px;
      line-height: 1.1;
    }

    .legal-section {
      margin-bottom: 40px;

      .legal-heading {
        font-size: 24px;
        font-weight: 700;
        color: #F9AF42;
        margin-bottom: 12px;
      }

      .legal-text {
        font-size: 16px;
        line-height: 1.6;
        color: #F8F5EC;
      }

      .legal-bold{
        color: #F9AF42 !important;
      }
    }

  }

  .legal-bottom {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    padding: 0 100px;
    margin: 0 auto;

    .legal-circles {
      display: flex;
      align-items: flex-end;

      .legal-circle {
        flex-shrink: 0;
        display: block;
      }

      .orange-circle {
        z-index: 1;
        animation: spin-ccw 8s linear infinite;
      }

      .blue-circle {
        margin-left: -65px;
        z-index: 2;
        animation: spin-cw 8s linear infinite;
      }
    }

    .legal-copyright {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      font-weight: 500;
      color: #F8F7E5;
      padding-bottom: 52px;
    }

    .legal-links {
      display: flex;
      gap: 32px;
      align-items: center;
      padding-bottom: 52px;

      .legal-link {
        font-size: 16px;
        font-weight: 500;
        color: #F8F7E5;
        text-decoration: none;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

}

@keyframes spin-cw {
  to { transform: rotate(360deg); }
}

@keyframes spin-ccw {
  to { transform: rotate(-360deg); }
}
